
/* Styles intended to support the special needs of
APUS, using the ELF theme (elf-themes-v2.min.css)
as a starting point */

/* ------- TABLE OF CONTENTS ---------------- */
/* 1.  Template overide _____________________ */
/* 2.  Generic ______________________________ */
/* 3.  Lists ________________________________ */
/* 4.  Key term trigger _____________________ */
/* 5.  Blockquote ___________________________ */
/* 6.  Support Text / Graphic Text __________ */
/* 7.  Tooltip Graphic ______________________ */
/* 8.  Tooltip image ________________________ */
/* 9.  Timeline accordion ___________________ */
/* 10. Knowledge check  _____________________ */




/* ------ 1. Template overide --------------- */
/* Fixes of feature improvements for the ELF
   template */

/* Fix: Carousel controls seem to be off vertically */
.elf button.carousel-button{
  padding: 13px 20px 20px;
}

/* Fix: When the content inside a lightbox is bigger than
   the screen the content is not visible */
.elf .lightbox{
  max-height: 80%;
  overflow-y: scroll;
}

/* Feature: Center paragraphs and header inside lightboxes
   and add whitespace to the sides to ease reading */
.elf .lightbox h3,
.elf .lightbox p{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Feature: Center images inside lightboxes and add whitespace
   to the sides to ease reading, prevent the image to extend
   too much when the resolution is too big or too small */
.elf .lightbox img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: auto;
}

/* Feature: Make transparence a little more visible and add
   padding to the container */
.elf .overlay{
  background: rgba(255,255,255,.85);
  padding: 15px 20px;
}

.elf .overlay-black{
  background: rgba(0, 0, 0,.7);
  padding: 15px 20px;
}

/* Feature: Make cursor a pointer even when the trigger
   it's not a link  */
.trigger:hover{
  cursor: pointer;
}

/* Fix: Inside .light and .white divs the .ghost buttons
   have no contrast. Added different color and border to
   make them readable  */
.light a.ghost[type="button"], .light button.ghost,
.white  a.ghost[type="button"], .white button.ghost{
  color: #4d6177;
}
  .light  a.ghost[type="button"]:hover, .light a.ghost[type="button"]:focus,.light  a.ghost[type="button"]:active,
  .light  button.ghost:hover, .light button.ghost:focus,.light  button.ghost:active,

  .white  a.ghost[type="button"]:hover, .white  a.ghost[type="button"]:focus, .white  a.ghost[type="button"]:active,
  .white  button.ghost:hover,.white  button.ghost:focus, .white  button.ghost:active{
    color: #333c46;
  }

.white  a.ghost[type="button"], .white button.ghost{
  border: 2px solid #f5f5f5;
}

  .white  a.ghost[type="button"]:hover, .white  a.ghost[type="button"]:focus, .white  a.ghost[type="button"]:active,
  .white  button.ghost:hover,.white  button.ghost:focus, .white  button.ghost:active{
    background: #f5f5f5;
  }

/* ------ 2. Generic ------------------------ */
/* Extra classes added to achieve certain effect
   described in the design docs or to improve
   readability, content segmentation or to add or
   modify an existing function. */

.menuListSeparator {
  border-bottom: 1px solid;
}

.hidden{
  display: none;
}

.isCentered{
  text-align: center;
}

img.isCentered{
  display: block;
  margin: 15px auto 25px;
  width: auto;
}

.hasBlackShadow{
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
}

.linkImageWithBorder{
  border: 4px solid #5aa0c3;
  display: inline-block;
}

  .linkImageWithBorder img{
    border: none;
    margin: 0 !important;
  }
  .linkImageWithBorder:hover,
  .linkImageWithBorder:focus,
  .linkImageWithBorder:active{
    border-color: #6fcaf7;
  }


.isBold, .TextBold{
  font-weight: bold;
}
.isItalic, .TextItalic{
  font-style: italic
}
.isBoldItalic, .TextBoldItalic{
  font-style: italic;
  font-weight: bold;
}

.menuItemsList {
  margin-top: 0.5em;
  margin-bottom: 1em;}

.principalMenuReadings {
  border-bottom: 1px dotted grey !important;
  font-size: 1.5em;
  text-decoration: none !important;}

.centeredImg {
  display: block;
  margin-left: auto;  
  margin-right: auto;
  max-width: 250px !important;
}

.titleLeft {
  text-align: left !important;
}

.linkNoDecoration {
  text-decoration: none !important;
}

.imageBox {
  max-width: 700px !important;
  padding-bottom: 20px;
  overflow: auto;
}

.textInBox {
  color: white !important;
  font-family: GibsonLight,serif;
}

figcaption {
  font-family: GibsonLight,serif;
  text-align: center;
}

.scrollableBox {
  overflow: auto !important;
}
/* ---- Responsive Data Table ---- */

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
    overflow-x: auto;
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Pseudonym"; }
  td:nth-of-type(2):before { content: "Gender Identity"; }
  td:nth-of-type(3):before { content: "Age"; }
  td:nth-of-type(4):before { content: "Race/Ethnicity"; }
  td:nth-of-type(5):before { content: "Education"; }
  td:nth-of-type(6):before { content: "Currently on T"; }
  td:nth-of-type(7):before { content: "Top Surgery"; }
  td:nth-of-type(8):before { content: "Bottom Surgery"; }
  td:nth-of-type(9):before { content: "Sex Preference Identity"; }
  td:nth-of-type(10):before { content: "Time in SF"; }
}

/* ------ 3. Lists -------------------------- */
/* Add reused styles for different kind of
   lists */

.unstyledList{
  list-style-type: none;
  padding: 0;
}
  .unstyledList li{
    margin: 1em 0;
  }

.linksList a{
  color: white;
  text-decoration: none;
}

  .linksList li{
    padding-left: 20px;
    text-indent: -20px;
  }

  .linksList a:hover, .linksList a:focus, .linksList a:active,
  .linksList a:hover em, .linksList a:focus em, .linksList a:active em{
    color: #59a0c3;
    text-decoration: none;
  }
  .white .linksList a,
  .light .linksList a{
    color: #333;
  }
  .white .linksList a:hover, .white  .linksList a:focus, .white  .linksList a:active,
  .light .linksList a:hover, .light  .linksList a:focus, .light  .linksList a:active{
    color: #59a0c3;
  }
.hasSeparatedLi li{
  margin-bottom: 20px;
}
.inlineList li{
  display: inline-block;
  margin-right: 15px;
}
  .inlineList li:last-child{
    margin-right: 0;
  }

/* ---- 4. Key term trigger ----------------- */
/* Style for the word-trigger that launches a
   lightbox containing a definition of a
   keyterm  */

.isKeyTerm, a.isKeyTerm{
  border-bottom: 1px dotted #333;
  color: #333;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

  .isKeyTerm:hover, .isKeyTerm:focus, .isKeyTerm:active,
  a.isKeyTerm:hover, a.isKeyTerm:focus, a.isKeyTerm:active{
    border-color: #5aa0c3;
    color: #5aa0c3;
    cursor: pointer;
  }

.dark .isKeyTerm, .dark a.isKeyTerm{
  color: white;
}
  .dark .isKeyTerm:hover, .dark .isKeyTerm:focus, .dark .isKeyTerm:active,
  .dark a.isKeyTerm:hover,.dark  a.isKeyTerm:focus, .dark a.isKeyTerm:active{
    color: #5aa0c3;
  }

.dark .carousel-content .isKeyTerm, .dark .carousel-content a.isKeyTerm,
.dark .accordion-panel .isKeyTerm, .dark .accordion-panel a.isKeyTerm,
.dark .panels .isKeyTerm, .dark .panels a.isKeyTerm{
  color: #333;
}
  .dark .carousel-content .isKeyTerm:hover, .dark .carousel-content a.isKeyTerm:hover,
  .dark .carousel-content .isKeyTerm:focus, .dark .carousel-content a.isKeyTerm:focus,
  .dark .carousel-content .isKeyTerm:active, .dark .carousel-content a.isKeyTerm:active,
  .dark .accordion-panel .isKeyTerm:hover, .dark .accordion-panel a.isKeyTerm:hover,
  .dark .accordion-panel .isKeyTerm:focus, .dark .accordion-panel a.isKeyTerm:focus,
  .dark .accordion-panel .isKeyTerm:active, .dark .accordion-panel a.isKeyTerm:active,
  .dark .panels .isKeyTerm:hover, .dark .panels a.isKeyTerm:hover,
  .dark .panels .isKeyTerm:focus, .dark .panels a.isKeyTerm:focus,
  .dark .panels .isKeyTerm:active, .dark .panels a.isKeyTerm:active{
    color: #5aa0c3;
  }

/* ---- 5. Blockquote ----------------------- */
/* Improved style for blockquotes to make them
   more evident for the user  */

.isBlockQuote,
blockquote.isBlockQuote{
  background: rgba(0,0,0,.1);
  font-size: 1.05em;
  margin: 30px 0;
  padding:  2em 3em;
  position: relative;
  text-align: left;
}

  .isBlockQuote span:first-child,
  blockquote.isBlockQuote span:first-child{
    font-size: 210%;
    left: 0.5em;
    position: absolute;
    top: 0.7em;
  }

  /* Bigger than phablet */
  @media (min-width: 550px) {

    .isBlockQuote,
    blockquote.isBlockQuote{
      font-size: 1.15em;
      padding:  2em 3em 2em 5em;
    }

      .isBlockQuote span:first-child,
      blockquote.isBlockQuote span:first-child{
        font-size: 400%;
        top: 0.2em;
      }
  }

/* Feature: Sometimes the user wants multiple blockquotes,
   this removes some styles to make this posible  */
.hasMultipleBlockquotes {
  background: rgba(0,0,0,.1);
  padding:  2em 0;
  text-align: left;
}
  .hasMultipleBlockquotes .isBlockQuote,
  .hasMultipleBlockquotes blockquote.isBlockQuote{
    background: transparent;
    margin: 0;
  }

/* Feature: If the blockquote has tooltips whe increase the
   space between the lines to make the sup element more evident  */
.isBlockQuote.hasTooltips,
blockquote.isBlockQuote.hasTooltips{
  line-height: 1.8em;
  margin: 30px 0;
}

/* Feature: If we want the space of the styled blockquote but
   not the big quotation mark of the beggining whe add this
   .hasNoQuotationMark class  */
.isBlockQuote.hasNoQuotationMark,
blockquote.isBlockQuote.hasNoQuotationMark{
  padding:  2em 3em;
}

  .isBlockQuote.hasNoQuotationMark span:first-child,
  blockquote.isBlockQuote.hasNoQuotationMark span:first-child{
    font-size: 100%;
    position: static;
  }

/* ---- 6. Support Text / Graphic Text ------ */
/* Mentioned as textgraphics in the design documents we add a
   color div and certain serif style to make clear this text
   is just support for the main text. It must incude a span that
   indicates when it starts and when it ends for screen readers
   (hidden for other users) */

.isSupportText{
  background: #e7e8e1;
  color: #454545;
  font: 1.15em Baskerville, Georgia, serif;
  font-style: italic;
  letter-spacing: .04em;
  padding: 15px 35px;
}

  .isSupportText,
  .isSupportText li,
  .isSupportText p{
    font: 1.15em Baskerville, Georgia, serif;
    font-style: italic;
  }

    .isSupportText li li{
      list-style-type: lower-alpha;
      font-size: 90%;
    }
  .isSupportText ul, .isSupportText ol{
    margin-top: 0;
    padding-left: 20px;
  }
  .isSupportText > span:first-child,
  .isSupportText > span:last-child{
    display: none;
  }
  .isSupportText strong,
  .isSupportText h5{
    font-family: Baskerville, Georgia, serif;
    font-size: 98%;
    font-style: normal;
    font-weight: bold;
  }
  .isSupportText h5{
    display: block;
    margin-bottom: 10px;
  }
  .isSupportText sup{
    font-size: 80%;
  }

  .isSupportText .isKeyTerm{
    font-family: Baskerville, Georgia, serif;
    font-style: italic;
    font-size: 98%;
  }

/* Feature: If you need a full width background for the
   support text you can add the support text inside another
   div with this class  */
.brownBackground{
  background: #e7e8e1;
}

/* ---- 7. Tooltip Graphic ------------------ */
/* A tooltip graphic is an image that uses .trigger
   elements in certain positions this styles gives you
   a starting point but since every graphic is unique,
   you must add the custom styles in each the lesson.

   Note: At the countrary of the TooltipImage, the image
   is added as background and you specify the dimensions
   of your graphic. */

.isTooltipGraphic{
  display: block;
  max-width: 100%;
  position: relative;
}

  .isTooltipGraphic ul{
    height: 100%;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .isTooltipGraphic li .trigger{
    display: block;
  }

.isTooltipGraphic a{
  color: #333;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

/* ---- 8. Tooltip image -------------------- */
/* A tooltip image is an image that uses .trigger
   elements in certain positions this styles gives you
   a starting point but since every tooltipImage is unique,
   you must add the custom styles in each the lesson.

   Note: Tooltip images get their initial dimensions from
   the <img> inside the div, this allows us to have an image
   with an alt text. */

.isTooltipImage{
    display: inline-block;
    position: relative;
}

  .isTooltipImage ul,
  .isTooltipImage ol{
    display: inline-block;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }

  .isTooltipImage ul{
    list-style-type: none;
  }


/* ---- 9. Timeline accordion --------------- */
/* Style for an accordion that has arrows pointing down
   after each header, is used as a timeline */


.isTimeline .accordion-tab:before{
  color: #333333;
  content: "\21d3" ;
  display: block;
  margin: -10px -20px 10px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

  .white .isTimeline .accordion-tab:before{
    background: white;
  }

  .light .isTimeline .accordion-tab:before{
    background: #f5f5f5;
  }

  .dark .isTimeline .accordion-tab:before{
    background: #333c46;
    color: white;
  }

  .isTimeline .accordion-tab:first-child:before{
    display: none;
  }


/* ------ 10. Knowledge check --------------- */
/* Style for the knowledge check script (elf-kc.js)
   propietary of APUS. */

.kc .kc-title{
  color: #24566f;
  font: 1.15em GibsonLight,sans-serif;
  font-style: italic;
  text-align: left;
  text-transform: none;
  margin: 0;
}

.kc input[type="radio"]{
  left: 5px;
  margin: 0;
  position: absolute;
  top: 9px;
}

.kc .choices{
  list-style-type: none;
  padding: 0;
}

.kc .feedback{
  text-align: center;
}
.kc .feedback p > span:first-child{
  color: red;
  display: block;
  font-size: 1.2em;
}
.kc .feedback.correct p > span,
.kc .feedback.isCorrect p > span{
  color: green;
}

.kc label{
  background: white;
  border: 3px solid #5aa0c3;
  display: inline-block;
  margin: 0 auto 15px;
  max-width: 85%;
  overflow: hidden;
  padding: 5px 8px 5px 25px;
  position: relative;
}

.kc label:hover,
.kc label:focus,
.kc label:active,
.kc label:focus{
  background: #5aa0c3;
  color: white;
}

.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-shadow:0px 1px 0px #283966;
}

.myButton a {
  color: white;
  font-weight: bold;
  font-style: normal;
  text-decoration:none !important;
}